limb-darkening-master/
mastDownload/
References/
*.pickle
*pkl
*.swp
*.pyc
*.pro

*.db
code/*diagnostic.png
Submitted/Referee_Reports
Submitted/First Re-submission/Reponse to First Referee Report - 2019 Mar 26.docx
